/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "VT323", monospace;
}

*::-moz-selection {
  background: #F31F69;
}

*::selection {
  background: #F31F69;
}

img {
  max-width: 100%;
}

img.large-image {
  width: 300px;
  height: auto;
}

a {
  color: #F31F69;
}

a:hover {
  color: #d40b51;
}

h1 {
  font-size: 1.75rem;
}

.hide {
  display: none;
  visibility: hidden;
}

button {
  background: #D93D4A;
  -webkit-box-shadow: 0px 4px 0px #931d27;
          box-shadow: 0px 4px 0px #931d27;
  border-radius: 2px 0px;
  padding: 10px 50px;
  border: 0;
  cursor: pointer;
}

button .content {
  text-shadow: 0px 2px 0px #931d27;
  color: #fff;
  font-size: 1.5rem;
}

button:hover {
  background: #F31F69;
  -webkit-box-shadow: 0px 4px 0px #a3093f;
          box-shadow: 0px 4px 0px #a3093f;
}

button:hover .content {
  text-shadow: 0px 2px 0px #a3093f;
}

button:active:hover {
  background: #d40b51;
  -webkit-box-shadow: 0px 4px 0px #ec0d5b;
          box-shadow: 0px 4px 0px #ec0d5b;
}

button:active:hover .content {
  text-shadow: 0px 2px 0px #ec0d5b;
}

body {
  margin: 0;
  background: #0E0E0E;
  color: #fff;
  font-size: 20px;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 15%;
      grid-template-rows: 1fr 15%;
  gap: 50px;
      grid-template-areas: "content" "footer";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

body main#root {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
}

body main#root > div {
  height: 100%;
  min-height: 100%;
  width: 100%;
  width: 100vw;
  -webkit-transition: opacity;
  transition: opacity;
}

body footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

#title-screen {
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
}

#title-screen .logo img {
  width: 525px;
  height: 100%;
}

#loading-screen {
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  justify-items: center;
}

#loading-screen h1 {
  margin-bottom: 30px;
}

#loading-screen .loading-image {
  width: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
}

#loading-screen .messege {
  width: 70%;
  width: 70vw;
}

.messege-screen {
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
}

.messege-screen h1 {
  margin-bottom: 30px;
}

.messege-screen img {
  -ms-grid-column-align: center;
      justify-self: center;
}

#character-screen {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 30px 0;
      grid-template-areas: "character" "character-select";
  width: 100%;
  height: 100%;
  height: 90vh;
}

#character-screen #character {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: character;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 200px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 200px));
  -ms-grid-rows: auto 1.5fr 0.5fr;
      grid-template-rows: auto 1.5fr 0.5fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 20px;
      grid-template-areas: "title title" "image stats" "image btn";
}

#character-screen #character .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 10px 0;
}

#character-screen #character .character-image {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: image;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#character-screen #character .stats {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: stats;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#character-screen #character .stats .name {
  margin-bottom: 30px;
}

#character-screen #character .stats .stat {
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto;
      grid-template-columns: 60px auto;
  gap: 30px;
}

#character-screen #character .stats .stat p {
  display: inline;
}

#character-screen #character .stats .stat .bars-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5px)[6];
      grid-template-columns: repeat(6, 5px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 5px;
}

#character-screen #character .stats .stat .bars-container span {
  background: #C4C4C4;
  width: 100%;
}

#character-screen #character .stats .stat .bars-container span.fill {
  background: #D93D4A;
}

#character-screen #character #play-btn {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: btn;
}

#character-screen #character-select {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: character-select;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 180px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 180px));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  gap: 20px 5px;
}

#character-screen #character-select .character {
  cursor: pointer;
}

#complaints {
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 30px;
  text-align: center;
}

#complaints form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (230px)[2];
      grid-template-columns: repeat(2, 230px);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  gap: 20px;
      grid-template-areas: "name-label name-input" "email-label email-input" "msg-label msg-input" "Btn Btn";
}

#complaints form input,
#complaints form textarea {
  padding: 10px;
  color: #0E0E0E;
  font-size: 1.2rem;
}

#complaints form label {
  margin-top: 10px;
}

#complaints form .name-label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name-label;
  -ms-grid-column-align: end;
      justify-self: end;
}

#complaints form .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name-input;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#complaints form .email-label {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: email-label;
  -ms-grid-column-align: end;
      justify-self: end;
}

#complaints form .email-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: email-input;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#complaints form .msg-label {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: msg-label;
  -ms-grid-column-align: end;
      justify-self: end;
}

#complaints form .msg-input {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: msg-input;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#complaints form button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Btn;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.2rem;
  margin-top: 20px;
  animation: color-change 350ms steps(10, end) 5 alternate-reverse both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes color-change {
  0% {
    background: #D93D4A;
  }
  20% {
    background: #F31F69;
  }
  40% {
    background: #C4C4C4;
  }
  60% {
    background: #D93D4A;
  }
  80% {
    background: #C4C4C4;
  }
  100% {
    background: #F31F69;
  }
}

@keyframes color-change {
  0% {
    background: #D93D4A;
  }
  20% {
    background: #F31F69;
  }
  40% {
    background: #C4C4C4;
  }
  60% {
    background: #D93D4A;
  }
  80% {
    background: #C4C4C4;
  }
  100% {
    background: #F31F69;
  }
}
/*# sourceMappingURL=style.css.map */